<div [ngClass]="{'container':true}">
 <div [ngStyle]="{'display':'flex','margin-bottom':'40px','width':'700px','height':'70px','align-items':'center','justify-content':'center','box-shadow':'rgba(0, 0, 0, 0.35) 0px 5px 15px','border-radius':'10px'}"> <h5 [ngStyle]="{'width':'500px'}">Click the button to display the table </h5><button (click)="Show()" [ngClass]="{'button':true}">Display</button></div>
 <ng-container *ngIf="showtable">
    <table [ngStyle]="{ 'width.px': width,'box-shadow':'rgba(0, 0, 0, 0.35) 0px 5px 15px','border-radius':'10px'}" class="table">
      <thead >
        <tr >
          <th scope="col" [ngClass]="{'style-head': Changedheadstyle}">id</th>
          <th scope="col" [ngClass]="{'style-head': Changedheadstyle}">Name</th>
          <th scope="col" [ngClass]="{'style-head': Changedheadstyle}">Place</th>
        </tr>
      </thead>
      <tbody [ngClass]="{'style':true}">
        @for(item of items;track item.id){
        <tr>
          <th [ngClass]="{'new-style': changedStyle}" scope="row">{{item.id}}</th>
          <td [ngClass]="{'new-style': changedStyle}">{{item.name}}</td>
          <td [ngClass]="{'new-style': changedStyle}">{{item.place}}</td>
        </tr>}@empty{
          No items
        }
      </tbody>
    </table>
 </ng-container>
 <div [ngStyle]="{'display':'flex','margin-top':'40px','width':'700px','height':'70px','align-items':'center','justify-content':'center','box-shadow':'rgba(0, 0, 0, 0.35) 0px 5px 15px','border-radius':'10px'}"> <h5  [ngStyle]="{'width':'500px'}">Click the button to change the style of the table </h5><button  [ngClass]="{'button':true}" (click)="Change()">Change style</button></div>
</div>